<div class="panel panel-default">
  <div class='panel-heading'>
    <div class="panel-title">
      <h1>About this project</h1>
    </div>
  </div>
  <div class='panel-body'>
    <p>This project is designed to maintain a list daily/weekly/etc. todos with control over what features in the list. The design is meant to be simple, where todos can be created and marked complete once they are done.</p> 
    <p>In the future, there will be an option to export data from completed todos into a CSV file - this can be used to show off how hard you work when everyone thinks you just loaf around and surf the net all day.</p>
    <p>With this todo list (once it's done at least...) you can surf the net all day AND pretend you're a hard worker by providing your boss with a report on all the work you've 'done'.</p>
    <p>More features coming soon!</p>
    <sub>PS. Don't lose your password just yet, you won't be able to get it back until I've set up the functionality... Sorry!</sub>
  </div>
</div>