<div class='panel-heading'>
  <h1>About page</h1>
</div>
<div class='panel-body'>
  <p>This project is designed to maintain a list daily/weekly/etc. todos with control over what features in the list</p>
</div>