<div class="jumbotron center">
  <h1>Todo List</h1>
  <% if user_signed_in? %>
  <p>Get to work on completing your todos!</p>
  <p><%= link_to "Go to todos", todos_path, class: "btn btn-success btn-lg" %>
  <% else %>
    <p>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </p>
  <% end %>
</div>