%h1 Task details
.form-group
  %p
    %strong Content:
    = @todo.content
.form-group
  %p
    %strong Section:
    = @todo.section

%span
  = link_to 'Edit', edit_todo_path(@todo), class: 'btn btn-primary'
  = link_to 'Back', todos_path, class: 'btn btn-default'
