@charset "UTF-8";

@import "globals";
@import "my_styles";
@import "pagedown_bootstrap";

/****************************************/

h1 {
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: $line-height-computed;
  margin-bottom: $line-height-computed * 1.5;
}
