/* miscellaneous styles */
.center {
  text-align: center;
}

/* styles for completed todos */
#complete {
  color: #B6B6B6; /* light grey */
  text-decoration: line-through;
}

/* makes the sort links on the index page black, but all others standard blue */
.link_text a {
  color:#000;
}