/* miscellaneous styles */
.center {
  text-align: center;
}

/* styles for completed todos */
.completed {
  color: #B6B6B6; /* light grey */
  text-decoration: line-through;
}

/* makes the sort links on the index page black, but all others standard blue */
.link_text a {
  color:#000;
}

/* makes the text area/fields in _form (new/edit) 450px in length (they are otherwise too small) */
.long {
  width: 450px;
}